<div class="body row justify-content-center align-items-center">
    <div class="col-4 d-flex justify-content-end">
    <h1 style="margin: 0;">WOH<br> AM<br> I</h1>

    </div>

    <div class="col-8">

        <div #highlightText>   
        <p>Hey!</p>
        <ul><li></li></ul>
        </div>

        <div #highlightText>   
            <p>I am Abdulrahman</p>
        <ul><li></li></ul>
        </div>

        <div #highlightText>   
            <p>A creative frotend developer focusing on Angular</p>
        <ul><li></li></ul>
        </div>

        <div #highlightText>   
            <p>During my time as a working student, I discovered my passion for frontend development</p>
        <ul><li></li></ul>
        </div>
     
        <div #highlightText>   
            <p>I have been working with web technologies for Hier kommt ein COUNTER</p>
        <ul><li></li></ul>
        </div>
    </div>
    
</div>
