<div class="row  body">
    <div class="col-md-7 align-items-end wow animate__animated animate__backInLeft slow circular--landscape order1">
        <img src="/public/abdul3.png" class="img">
    </div>
    <div class="col-md-4 text wow animate__animated animate__backInRight slow order2">
        <h1>Abdulrahman<br>Alabed</h1>
        <h3>B.Sc. Informatik</h3>

        <p>Bonn, Germany</p>

        <ul class="contact">
            <li><a href="https://github.com/Alabed98"><i class="fa-brands fa-square-github"></i></a> </li>
            <li><a href="https://www.linkedin.com/in/abdulrahman-alabed-044622300/"><i class="fa-brands fa-linkedin"></i></a>
            </li>
            <li><a href="mailto:abdulrahman.alabed98@gmail.com"> <i class="fa-solid fa-envelope"></i></a></li>
        </ul>
    </div>

    <div class="col-md-1">
        <div class="fixed first">
            <a href="#about me">
                <p class="text  ">About me</p>
            </a>
        </div>
        <div class="fixed second">
            <a href="#experince">
                <p class="text ">Experince</p>
            </a>
        </div>

        <div class="fixed third">
            <a href="#tools">
                <p class="text ">My Stacks</p>
            </a>
        </div>
        <div class="fixed vour">
            <a href="#socialMedia">
                <p class="text ">Social Media</p>
            </a>
        </div>
          <div class="fixed five">
            <a href="#contact">
                <p class="text ">Contact</p>
            </a>
        </div>
    </div>
</div>